   <mat-toolbar class="header ">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
        <a class="navbar-brand" style="font-weight: 1000; font-size: 20px" href="#"
        >My app
      </a></span>
    <span class="example-spacer"></span>
    <div class="navbar">
        <span style="font-weight: bold"
          ><a class="nav-link" routerLink="/products" routerLinkActive="active"
            >Products</a
          ></span
        >
        <!--<span style="font-weight: bold"
          ><a class="nav-link" routerLink="/product-details/1" 
            >Product-details</a
          ></span
        >-->
      </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

